@{
    @model List<ClienteModel>
    ViewData["Title"] = "Clientes General";
}

<div class="text-center">
    <h1 class="display-2">Clientes</h1>

</div>

<h1>Lista de Clientes</h1>
<a href="/Clientes/Nuevo" class="btn btn-success my-4">Nuevo Cliente</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Cedula_RUC</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellido</td>
                <td>@cliente.Edad</td>
                
            </tr>
            <tr>
                <td>
                    <a href="/Clientes/Listar?id=@cliente.Id" class="btn btn-md">LISTAR</a>
                    <a href="/Clientes/Editar?id=@cliente.Id" class="btn btn-md">ACTUALIZAR</a>
                    <a href="/Clientes/Eliminar?id=@cliente.Id" class="btn btn-md">ELIMINAR</a>
                </td>
            </tr>
        }
    </tbody>
</table>
